@model AuthViewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/Authstyle.css" rel="stylesheet" type="text/css"/>

    <title>Authorization</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="bg">
                <div class="header">
                    <h1 class="nimbLabel">Nimb</h1>
                </div>
                <form asp-controller="Auth" asp-action="Login" method="post">
                    <div class="loginpart">
                        <label asp-for="UserName" class="loginLabel">Login:</label>
                        <input asp-for="UserName" class="loginfield" id="loginfield"></input>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="passwordpart">
                        <label asp-for="Password" class="passwordLabel">Password:</label>
                        <input asp-for="Password" class="passwordfield" id="passwordfield" type="password"></input>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button class="signInbtn" value="Login" type="submit"><p>Sign In</p></button>
                </form>
            </div>
        </div>
        <div class="links">
            <p class="ftext"><a href="">Terms</a>&emsp;<a href="">Privacy</a>&emsp;<a href="">Security</a> <br><br>© 2023 - Nimb, Inc.</p>
        </div>
    </div>
</body>

</html>