@font-face {
    font-family: Inter-SemiBold;
    src: url("/resource/fonts/inter/Inter-SemiBold.ttf");
}

@font-face {
    font-family: Inter-Regular;
    src: url("/resource/fonts/inter/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter-Light;
    src: url("/resource/fonts/inter/Inter-Light.ttf");
}

body {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
}

.container {
    text-align: center;
}

table {
    margin-top: 50px;
}

.container .main {
    display: flex;
    justify-content: center;
}

.bg label {
    font-family: Inter-Regular;
}

.bg p {
    font-family: Inter-SemiBold;
}



.dataTables_paginate {
    margin-bottom: 20px;
}

.container .main .bg {
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    height: auto;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

th {
    font-family: Inter-SemiBold;
}

td {
    font-family: Inter-Regular;
}

.dataTables_info, a {
    font-family: Inter-Light;
}
.container .bg {
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    height: auto;
    width: 1296px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container .main .bg .table .display {
    margin-top: 20px;
}

.dataTables_info {
    margin-left: 20px;
}

.dataTables_filter {
    margin-top: 20px;
}

.display {
    margin-top: 10px;
}

.container .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 120px;
}

    
        width: 150px;
        height: 35px;
        margin-top: 30px;
        border: 0;
        border-radius: 15px;
        background-color: #7ACBE5;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

button {
    opacity: .8;
}

button p{
    font-size: 17px;
    font-weight: 600;
    font-family: Inter-SemiBold;
}

@media screen and (max-height: 790px) {
    body {
        overflow-y: visible;
    }
}

