@font-face {
    font-family: Inter-Medium;
    src: url("../../resource/fonts/inter/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter-Regular;
    src: url("/resource/fonts/inter/Inter-Regular.ttf");
}


@font-face {
    font-family: Inter-SemiBold;
    src: url("/resource/fonts/inter/Inter-SemiBold.ttf");
}


body {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
}

.container {
    text-align: center;
}

    .container .main {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
    }

        .container .main .bg {
            justify-content: center;
            margin-top: 50px;
            background-color: white;
            -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            height: auto;
            width: auto;
        }

            .container .main .bg .table .display {
                margin-top: 10px;
            }

    .container .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

        .container .buttons .button {
            width: 1300px;
            height: 35px;
            margin-top: 30px;
            margin-bottom: -30px;
            border: 0;
            border-radius: 15px;
            background-color: #7ACBE5;
            -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            font-family: Inter-SemiBold;
        }

            .container .buttons .button:hover {
                opacity: .8;
            }

a {
    text-decoration: none;
}



#table_id_filter, #table_id_length {
    margin: 20px;
}

#table_id_paginate {
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    font-family: Inter-SemiBold;
}

td {
    font-family: Inter-Regular;
}

@media screen and (min-width: 765px) and (max-width: 830px) {
    .container .buttons .button {
        width: 600px;
    }
}

@media screen and (min-width: 690px) and (max-width: 765px) {
    .container .buttons .button {
        width: 600px;
    }
}

@media screen and (min-width: 670px) and (max-width: 690px) {
    .container .buttons .button {
        width: 400px;
    }
}

@media screen and (min-width: 580px) and (max-width: 670px) {
    .container .buttons .button {
        width: 400px;
    }
}

@media screen and (max-width: 580px) {
    .container .buttons .button {
        width: 400px;
    }
}


/* For phones */

@media screen and (max-width: 420px) {
    .container .buttons .button {
        width: 350px;
    }
}
