@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/Adminstyle.css" rel="stylesheet" type="text/css" />


    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="userscontrol">
            <div class="searchpart">
                <input class="searchfield" placeholder="Name" />
                <button class="searchbtn"><p>Search</p></button>
            </div>
            <div class="userslist">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Login</th>
                                <th>Password</th>
                                <th>Number</th>
                                <th>Adress</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr id="1">
                                <td>Orxan</td>
                                <td>James</td>
                                <td>Kala_sq82</td>
                                <td>qwert123</td>
                                <td>+994519043437</td>
                                <td>Alesker Alekperov kuc 9A</td>
                                <td>Economist</td>
                            </tr>
                            <tr id="2">
                                <td>Karim Kalashov</td>
                                <td>James</td>
                                <td>Kala_sq82</td>
                                <td>qwert123</td>
                                <td>+994519043437</td>
                                <td>Alesker Alekperov kuc 9A</td>
                                <td>Economist</td>
                            </tr>
                            <tr>
                                <td>Karim Kalashov</td>
                                <td>James</td>
                                <td>Kala_sq82</td>
                                <td>qwert123</td>
                                <td>+994519043437</td>
                                <td>Alesker Alekperov kuc 9A</td>
                                <td>Economist</td>
                            </tr>
                            <tr>
                                <td>Karim Kalashov</td>
                                <td>James</td>
                                <td>Kala_sq82</td>
                                <td>qwert123</td>
                                <td>+994519043437</td>
                                <td>Alesker Alekperov kuc 9A</td>
                                <td>Economist</td>
                            </tr>
                            <tr>
                                <td>Karim Kalashov</td>
                                <td>James</td>
                                <td>Kala_sq82</td>
                                <td>qwert123</td>
                                <td>+994519043437</td>
                                <td>Alesker Alekperov kuc 9A</td>
                                <td>Economist</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form class="controlbtns">
                <button asp-controller="Admin" asp-action="UserAdd" class="ctrl add"><p>Add</p></button>
                <button class="ctrl Edit"><p>Edit</p></button>
                <button class="ctrl Delete"><p>Delete</p></button>
            </form>
        </div>
    </div>
</body>
<script defer src="~/js/adminscript.js"></script>
</html>
