@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NimbRepository.Model.Storekeeper.Supplier
@{
}

<link href="~/css/Storekeeper/keeperstyle.css" rel="stylesheet">

<div class="container">
    <div class="main">
        <div class="bg">
            <div class="header-container">
                <div class="header">Add supplier</div>
            </div>
            <form asp-action="AddProvider" asp-controller="StoreKeeper">
                <div class="inputs">
                    <div class="namePart">
                        <input type="text" asp-for="Name" class="nameField" id="nameField" placeholder="Enter name">
                        <br />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="categoryPart">
                        <input type="text" asp-for="Number" class="addressField" id="addressField" placeholder="Enter the number">
                        <br />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="countPart">
                        <input type="email" asp-for="EmailAddress" class="mailField" id="mailField" placeholder="Enter the email">
                        <br />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="pricePart">
                        <input type="text" asp-for="Address" class="priceField" id="priceField" placeholder="Enter the address">
                        <br />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <button class="applyButton" type="submit"><p>Apply</p></button>
            </form>
        </div>
    </div>
</div>