@using NimbRepository.Model.Storekeeper;
@model Nimb.Models.ProductViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IEnumerable<Supplier>? supplierList = ViewData["Suppliers"] as IEnumerable<Supplier>;
}
<link href="~/css/Storekeeper/keeperproduct.css" rel="stylesheet">

<body>
    <div class="container">
        <div class="main">
            <div class="bg">
                <div class="header-container">
                    <div class="header">Add product</div>
                </div> 
                <form asp-action="AddProduct" asp-controller="StoreKeeper">
                    <div class="inputs">
                        <select class="supplierBox" asp-for=SuppId id="suppselectid">
                            <option selected>Choose provider</option>
                            @foreach (var item in supplierList!)
                            {
                                <option value=@item.Id>@Html.DisplayFor(items => item.Name)</option>
                            }
                        </select>
                        <div class="namePart">
                            <input type="text" asp-for="good.Name" class="nameField" id="nameField" placeholder="Enter the name"></input>
                        </div>
                        <div class="categoryPart">
                            <input type="text" asp-for="good.Category" class="categoryField" id="categoryField" placeholder="Enter the category"></input>
                        </div>
                        <div class="pricePart">
                            <input type="number" asp-for="good.Price" class="priceField" id="priceField" placeholder="Enter the price"></input>
                        </div>
                        <div class="countPart">
                            <input type="number" asp-for="good.Count" class="countField" id="countField" placeholder="Enter the count"></input>
                        </div>
                        <div class="descPart">
                            <textarea class="descField" asp-for="good.Description" id="descField" placeholder="Enter the description"></textarea>
                        </div>
                    </div>
                    <button class="applyButton" type="submit"><p>Apply</p></button>
                </form>
            </div>
        </div>
    </div>
</body>

<script defer src="/js/keeper.js"></script>