@font-face {
    font-family: Inter-Medium;
    src: url("/resource/fonts/inter/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter-SemiBold;
    src: url("/resource/fonts/inter/Inter-SemiBold.ttf");
}

body {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
}

option {
    font-family: Inter-Medium;
    font-size: 17px;
}

.container select {
    width: 280px;
    height: 35px;
    border-radius: 5px;
    margin: 15px;
    background-color: #D9D9D9;
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    margin-top: 20px;
}

.options {
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

select {
    font-family: Inter-Medium;
    font-size: 17px;
    text-align: center
}


.container .main {
    display: flex;
    justify-content: center;
}

    .container .main .bg {
        justify-content: center;
        margin-top: 100px;
        background-color: white;
        height: 420px;
        width: 650px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

.container .header-container {
    display: flex;
    justify-content: flex-end;
}


.container .inputs {
    margin-left: -200px;
    margin-top: -80px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 0;
}

.container .main .bg form .inputs .part .field {
    width: 280px;
    height: 35px;
    border-radius: 5px;
    margin: 15px;
    background-color: #D9D9D9;
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}


.container .main .bg form .inputs .label {
    padding: 5px;
    font-family: Inter-SemiBold;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: 130px;
}

.container .main .bg form .inputs label:last-child {
    margin-right: 30%;
    margin-top: 20px;
}


.container .applyButton {
    width: 150px;
    height: 35px;
    margin-top: 0px;
    margin-left: 430px;
    border: 0;
    border-radius: 5px;
    background-color: #212529;
    color: #FFF;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .container .applyButton:hover {
        opacity: .8;
    }

.container form .applyButton p {
    font-size: 17px;
    font-weight: 500;
    font-family: Inter-SemiBold;
    margin-top: 13px;
}


@media screen and (max-width: 770px) {
    .container .main .bg {
        width: 450px;
        height: 420px;
    }

    .container .inputs {
        margin-left: 0;
        margin-top: -80px;
    }

    .container form .applyButton {
        width: 355px;
        height: 35px;
        margin-top: 20px;
        margin-left: 0;
    }


    .container .main .bg form .inputs label:last-child {
        margin-right: 0;
        margin-top: 20px;
    }
}


/* For phones */

@media screen and (max-width: 420px) {
    .container .main .bg {
        width: 350px;
        height: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .inputs {
        margin-left: 0;
        margin-top: -80px;
    }

    .container form input {
        width: 300px;
    }

    .container form .applyButton {
        width: 300px;
        height: 35px;
        margin-top: 20px;
        margin-left: 0;
    }

    .container .main .bg form .inputs label:last-child {
        margin-right: 0;
        margin-top: 20px;
    }
}


@media screen and (max-width: 370px) {
    .container .main .bg {
        width: 300px;
    }

    .container form input {
        width: 250px;
    }

    .container form .applyButton {
        width: 250px;
    }

    .container .main .bg form .inputs label:last-child {
        margin-right: 0;
        margin-top: 20px;
    }
}
