@font-face {
    font-family: Inter-Medium;
    src: url("/resource/fonts/inter/Inter-Medium.ttf");
}

body {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
}

.container {
    text-align: center;
   /* display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    width: 100%;
}

.container .main {
  /*  display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-pack: center;
    -ms-flex-pack: center;*/
    justify-content: center;
    width: 100%;
    height: auto;
}

.container .main .bg {
  /*  display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    width: 100%;
    /*-webkit-box-pack: center;
    -ms-flex-pack: center;*/
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    height: 550px;
    width: 800px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: auto;
}



.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeBox {
    width: 350px;
    height: 35px;
    background-color: #D9D9D9;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 17px;
    margin-top: 20px;
}



}

#table_id_filter {
    margin-top: 20px;
    margin-bottom: 20px;
}

#table_id_paginate {
    margin-top: 20px;
    margin-bottom: 10px;
}


#table_id_length select {
    height: 30px;
    width: 60px;
    box-shadow: none;
    margin-right: 0px;
    margin-left: 0px;
}