@font-face {
    font-family: Inter-Medium;
    src: url("/resource/fonts/inter/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter-SemiBold;
    src: url("/resource/fonts/inter/Inter-SemiBold.ttf");
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #E7E7E7;
}

.container {
    text-align: center;
}

    .container .main {
        display: flex;
        justify-content: center;
    }

        .container .main .bg {
            justify-content: center;
            margin-top: 100px;
            background-color: white;
            height: 450px;
            width: 650px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

    .container .header-container {
        display: flex;
        justify-content: flex-end;
    }

option {
    font-family: Inter-Medium;
}

select {
    font-family: Inter-Medium;
}

.container .header {
    background-color: #D9D9D9;
    border: 0;
    width: 150px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
    height: 25px;
    font-weight: 600;
    font-family: Inter-Medium;
}

.container .inputs {
    margin-left: -200px;
    margin-top: -80px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 0;
}


    .container form input {
        width: 350px;
        height: 35px;
        border-radius: 5px;
        margin: 15px;
        background-color: #D9D9D9;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }


::placeholder {
    padding: 5px;
    font-family: Inter-SemiBold;
}


.container .registerButton {
    width: 150px;
    height: 35px;
    margin-top: 0px;
    margin-left: 400px;
    border: 0;
    border-radius: 15px;
    background-color: #7ACBE5;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .container .registerButton:hover {
        opacity: .8;
    }

.container form .registerButton p {
    font-size: 17px;
    font-weight: 600;
    font-family: Inter-Medium;
}

@media screen and (max-height: 790px) {
    body {
        overflow-y: visible;
    }
}
@media screen and (max-width: 770px) {
    .container .main .bg {
        width: 450px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .inputs {
        margin-left: 0;
        margin-top: -80px;
    }

    .container form .registerButton {
        width: 355px;
        height: 35px;
        margin-top: 40px;
        margin-left: 0;
    }

    .container .header-container {
        width: 450px;
    }

    .container .header {
        margin-top: -65px;
    }
}


/* For phones */

@media screen and (max-width: 420px) {
    .container .main .bg {
        width: 350px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .inputs {
        margin-left: 0;
        margin-top: -80px;
    }

    .container form input {
        width: 300px;
    }

    .container form .registerButton {
        width: 300px;
        height: 35px;
        margin-top: 20px;
        margin-left: 0;
    }

    .container .header {
        margin-top: -70px;
        margin-right: 50px;
    }
}