
<link rel="stylesheet" href="/css/Seller/goods.css">


    <div class="bg">
        <div class="table">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Purchase price</th>
                        <th>Rate</th>
                        <th>Count></th>
                        <th style="text-align: center;">Edit or Delete</th>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
@section Scripts
{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/Goods.js"></script>

}