@model NimbRepository.Model.Seller.Client
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Seller/registerUser.css">
    <title>Registraciya</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="bg">
                <div class="header-container">
                    <div class="header">Add Client</div>
                </div>
                <form asp-controller="Seller" asp-action="RegisterUser">
                    <div class="inputs">
                        <div class="part">
                            <input asp-for="FirstName" type="text" class="field" placeholder="Enter the name"></input>
                        </div>
                        <div class="part">
                            <input asp-for="LastName" type="text" class="field" placeholder="Enter the surname"></input>
                        </div>
                        <div class="part">
                            <input asp-for="PatronymicName" type="text" class="field" placeholder="Enter the patronymic name"></input>
                        </div>
                        <div class="part">
                            <input asp-for="Number" type="text" class="field" placeholder="Enter the phone number"></input>
                        </div>
                        <div class="part">
                            <input asp-for="EmailAddress" type="email" class="field" placeholder="Enter the email"></input>
                        </div>
                    </div>
                    <button class="registerButton" value="Register" type="submit"><p>Register</p></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

