@model NimbRepository.Model.Seller.Client


    <link rel="stylesheet" href="/css/Seller/registerUser.css">

    

    <div class="container">
        <div class="main">
            <div class="bg">
                <div class="header-container">
                    <div class="header">Add Client</div>
                </div>
                <form asp-controller="Seller" asp-action="RegisterUser">
                    <div class="inputs">
                        <div class="part">
                            <input asp-for="FirstName" type="text" class="field" placeholder="Enter the name"></input>
                            <br />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="part">
                            <input asp-for="LastName" type="text" class="field" placeholder="Enter the surname"></input>
                        <br />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="part">
                            <input asp-for="PatronymicName" type="text" class="field" placeholder="Enter the patronymic name"></input>
                        <br />
                        <span asp-validation-for="PatronymicName" class="text-danger"></span>
                        </div>
                        <div class="part">
                            <input asp-for="Number" type="text" class="field" placeholder="Enter the phone number"></input>
                        <br />
                        <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="part">
                            <input asp-for="EmailAddress" type="email" class="field" placeholder="Enter the email"></input>
                        <br />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <button class="registerButton" value="Register" type="submit"><p>Register</p></button>
                </form>
            </div>
        </div>
    </div>

