@model NimbRepository.Model.Seller.Company
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Seller/registrCompany.css">
    <title>Registr Company</title>
</head>
<body>
    <div class="container">
        <h1>Registr Company Panel</h1>
        <hr>
        <form asp-controller="Seller" asp-action="RegisterCompany" class="formReg">
            <div class="userdata">
                <div class="mb-3">
                    <label for="companyName" class="form-label">Company Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="companyName" placeholder="Company Name">
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="Number" type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input asp-for="EmailAddress" type="text" class="form-control" id="email" placeholder="Email address">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>

    </div>
</body>
</html>

