@model NimbRepository.Model.Admin.User


    <link href="/css/Admin/Addstyle.css" rel="stylesheet" type="text/css" />

    
    <div class="container">
        <form asp-controller="Admin" asp-action="UserAdd" class="bg">
            <div class="header">
                <label>User Edit</label>
            </div>
            <div class="userdata">
                <input asp-for="FirstName" class="propfield" placeholder="Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="LastName" class="propfield" placeholder="Surname" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="PatronymicName" class="propfield" placeholder="PatronymicName" />
                <span asp-validation-for="PatronymicName" class="text-danger"></span>
                <input id="phone" type="tel" asp-for="Number" class="propfield" placeholder="Number" />
                <span asp-validation-for="Number" class="text-danger"></span>
                <input asp-for="EmailAddress" class="propfield" placeholder="Email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                <input asp-for="Address" class="propfield" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger"></span><div class="alert alert-info" style="display: none;"></div>
                <select asp-for="Position" class="propbox">
                    <option value="" disabled selected>Select user's position</option>
                    <option value="Chief">Chief</option>
                    <div class="alert alert-info" style="display: none;"></div>
                    <option value="Storekeeper">Storekeeper</option>
                    <option value="Seller">Seller</option>
                    <option value="Economist">Economist</option>
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="controlbtns">
                <button asp-controller="Admin" asp-action="AdminPanel" class="ctrl back"><p>Back</p></button>
                <button asp-controller="Admin" asp-action="UserEditConfirm" asp-route-id ="@Model.Id" type="submit" class="ctrl confirm"><p>Confirm</p></button>
            </div>
        </form>
    </div>
    
@section Scripts
{
    <script src="~/js/jquery-3.6.0.min" type="text/javascript"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.js" type="text/javascript"></script>
    <script defer src="/js/﻿adminscript.js"></script>
}

