@model NimbRepository.Model.Admin.User


    <link href="/css/Admin/Addstyle.css" rel="stylesheet" type="text/css" />


<div class="main">
    <div class="bg">
        <div class="header-container">
            <div class="header">Edit user</div>
        </div>
        <form>
            <div class="inputs">
                <div class="namePart">
                    <input type="text" class="field" id="nameField" placeholder="Enter the name"></input>
                </div>
                <div class="pricePart">
                    <input type="text" class="field" id="priceField" placeholder="Enter the login"></input>
                </div>
                <div class="categoryPart">
                    <input type="password" class="field" id="categoryField" placeholder="Enter the password"></input>
                </div>
                <div class="countPart">
                    <input type="text" class="field" id="countField" placeholder="Enter the phone number"></input>
                </div>
                <div class="descPart">
                    <input type="text" class="field" id="descField" placeholder="Enter the address"></input>
                </div>
                <select class="supplierBox" id="supplierBox">
                    <option>Choose a supplier...</option>
                </select>
            </div>
            <div class="btn-group">
                <button class="Button" value="back" type="submit">Back</button>
                <button class="Button" value="confirm" type="submit">Confirm</button>
            </div>
        </form>
        
    </div>
</div>

@section Scripts
{
    <script defer src="/js/﻿adminscript.js"></script>
}

