@model NimbRepository.Model.Admin.User


    <link href="/css/Admin/Addstyle.css" rel="stylesheet" type="text/css" />

    <div class="bg">
        <form asp-controller="Admin" asp-action="UserAdd">
            <div class="header">
                <label>User Add</label>
            </div>
                <input asp-for="FirstName" class="propfield" placeholder="Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="LastName" class="propfield" placeholder="Surname" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="PatronymicName" class="propfield" placeholder="PatronymicName" />
                <span asp-validation-for="PatronymicName" class="text-danger"></span>
                <input id="phone" type="tel" asp-for="Number" class="propfield" placeholder="Number" />
                <span asp-validation-for="Number" class="text-danger"></span>
                <input asp-for="EmailAddress" class="propfield" placeholder="Email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                <input asp-for="Address"  class="propfield" placeholder="Address"/>
                <span asp-validation-for="Address" class="text-danger"></span><div class="alert alert-info" style="display: none;"></div>
                <select asp-for="Position" class="propbox">
                    <option value="" disabled selected>Select user's position</option>
                    <option value="Chief">Chief</option><div class="alert alert-info" style="display: none;"></div>
                    <option value="Storekeeper">Storekeeper</option>
                    <option value="Seller">Seller</option>
                    <option value="Economist">Economist</option>
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            <div class="controlbtns">
                <button asp-controller="Admin" asp-action="AdminPanel" class="ctrl back"><p>Back</p></button>
                <button type="submit" class="ctrl confirm"><p>Confirm</p></button>
            </div>
        </form>
    </div>

   

@section Scripts
{

}