@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="/css/Error/Access.css" rel="stylesheet" type="text/css" />


    <div class="error-code">403</div>
    <div class="alarm-header">Access denied </div>
    <div class="alarm-text">You dont have permission to view this site.</div>
    <div class="alarm-text"><a asp-action="Logout" asp-controller="Auth">Return to Login</a></div>
